{% extends 'new/base.html' %}
{% load static i18n compress %}
{% block body %}
    <body class="bg-gradient-primary">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        {# Nested Row within Card Body #}
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">
                                            {% trans "Forgot your password?" %}
                                        </h1>
                                        <p class="mb-4">
                                            {% blocktrans trimmed %}
                                                We get it, stuff happens.
                                                Just enter your email address
                                                below and we'll send you a link
                                                to reset your password!
                                            {% endblocktrans %}
                                        </p>
                                    </div>
                                    <form class="user" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="email"
                                                   class="form-control form-control-user"
                                                   id="{{ form.email.auto_id }}"
                                                   name="{{ form.email.html_name }}"
                                                   maxlength="{{ form.fields.email.widget.attrs.maxlength }}"
                                                   aria-describedby="emailHelp"
                                                   placeholder="{% trans "Enter Email address..." %}"
                                                   required />
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            {% trans "Reset Password" %}
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'auth_register' %}">
                                            {% trans "Create an account!" %}
                                        </a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'auth_login' %}">
                                            {% trans "Already have an account? Login!" %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    {# (!) body overriden = re-includes messages here: #}
    {% include 'include/messages.html' %}
    </body>
{% endblock body %}
