{% extends 'new/base.html' %}
{% load static i18n compress %}
{% block body %}
    <body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">
                                    {{ title }}
                                </h1>
                            </div>
                            <form class="user" method="post" action="#">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                    {% blocktrans trimmed %}
                                        Please enter your old password,
                                        for security's sake, and then enter
                                        your new password twice so we can
                                        verify you typed it in correctly.
                                    {% endblocktrans %}
                                    </div>
                                {% for field in form %}
                                    <div class="col-sm-12">
                                        <label for="{{ field.auto_id }}"></label>
                                        <input class="form-control form-control-user"
                                               id="{{ field.auto_id }}"
                                               name="{{ field.html_name }}"
                                               type="{{ field.field.widget.input_type }}"
                                                {% if field.value %}
                                               value="{{ field.value }}"
                                                {% endif %}
                                               aria-describedby="{{ field.html_name }}"
                                               placeholder="{{ field.label }}"
                                        {% for name, value in field.field.widget.attrs.items %}
                                            {% if value is not False %}
                                                {{ name }}{% if value is not True %}="{{ value }}"{% endif %}
                                            {% endif %}
                                        {% endfor %} />
                                            {% include 'include/errors.html' %}
                                    </div>
                                {% endfor %}

                                </div>

                                <button class="btn btn-primary btn-user btn-block">
                                    {% trans "Change my password" %}
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'auth_login' %}">
                                    {% trans "Remember your password? Login!" %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# (!) body overriden = re-includes messages here: #}
    {% include 'include/messages.html' %}
    </body>
{% endblock body %}
